{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/base.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/register.css' %}">
    <link rel="stylesheet" href="{% static 'users/css/logout.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/home.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'blog/css/blog.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed&display=swap" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    {% if title %}
        <title>Django Blog - {{ title }}</title>
    {% else %}
        <title>Django Blog</title>
    {% endif %}
</head>
<body>
    <header class="container">
        <h1 class="welcome_text">My Aquarium Blog</h1>
    </header>
    <nav class="navbar navbar-expand-md navbar-light bg-light my-3 ps-3">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'blog-home' %}">My Aquarium</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
              <button type="button" class="btn btn-outline-light"><a class="nav-link {% if page_name == 'blog-home' %}active{% endif %}" aria-current="page" href="{% url 'blog-home' %}">Home</a></button>
              <button type="button" class="btn btn-outline-light"><a class="nav-link {% if page_name == 'blog' %}active{% endif %}" href="{% url 'blog' %}">Blog</a></button>
              <div class="navbar-nav">
                {% if user.is_authenticated %}
                    <button type="button" class="btn btn-outline-light"><a class="nav-link {% if page_name == 'logout' %}active{% endif %}" href="{% url 'logout' %}">Logout</a></button>
                {% else %}
                    <button type="button" class="btn btn-outline-light"><a class="nav-link {% if page_name == 'register' %}active{% endif %}" href="{% url 'register' %}">Join Us</a></button>
                    <button type="button" class="btn btn-outline-light"><a class="nav-link {% if page_name == 'login' %}active{% endif %}" href="{% url 'login' %}">Login</a></button>
                {% endif %}
              

               </div>
            </div>
          </div>
        </div>
    </nav>
    <div class="background-scroll"></div>
    <div>
        {% if messages %}
            {% for message in messages %}
             <div class='alert alert-{{ message.tags }}'>
                 {{ message }}
             </div>
            {% endfor %}
        {% endif %}
        {% block content %}
        
        {% endblock %}
    </div>
    <div class="background-scroll"></div>
</body>
</html>