{% extends "blog/base.html" %}
{% load static %}
{% block content %}

    <div class="div-scroll d-flex justify-content-center align-items-center">
        <h1 class="text-title">Underwaters Aquarium</h1>
    </div>
    <div class="background-scroll-middle"></div>
    <div class="second-div-scroll d-flex justify-content-around align-items-center text-center align-content-md-around">
        <img src="{% static 'blog/img/red-betta.jpg' %}" alt="Betta fish image" class="betta-img">
        <h1 class="second-text">Your first steps towards fish keeping success.</h1>
    </div>

{% endblock content %}