.logout_text{
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align: center;
}
.login_link{
    font-family: 'Fira Sans Condensed', sans-serif;
    text-align: center;
}
@media (max-width: 768px) {
    .logout_text{
        font-size: smaller;
    }
    .login_text{
        font-size: smaller;
    }
  }